@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  @layer utilities {
    .grid-cols-32 {
      grid-template-columns: repeat(32, minmax(0, 1fr));
    }
  }
}

.portfolio-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.portfolio-scrollbar::-webkit-scrollbar-track {
  background: #090d16;
}

.portfolio-scrollbar::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}

.portfolio-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00e5ff;
}
